.skills
    h2 Skills/Acronyms
    .skill JavaScript
        p jQuery, Coffeescript, Underscore, Backbone
    .skill HTML
        p HTML5 Standards, templating: Jade, ERB
    .skill CSS
        p Cross browser and mobile friendly, responsive, LESS, SCSS, SASS
    .skill Nodejs
        p Express, Socketio
    .skill Ruby on Rails
    .skill PHP
        p CodeIgniter and scripting
    .skill MongoDB
        p Mongoose
    .skill MySQL
        p ActiveRecord
