extends layout

block content
    #header
        h1
            a(href="/") Luke Stebner
        h2 Full Stack Web Developer
            span - Check out some of my work below

    #showcase
        .showcase-column
            ul#showcase-projects
                for project in projects
                    include partials/project

        .content-column
            .content
                h3 Located in the San Francisco Bay Area
                p I work with a number of technologies including JavaScript (Coffeescript), HTML, CSS (LESS, SCSS), NodeJS, Ruby on Rails, PHP, MongoDB and MySQL. Although during the day I do this at Scribd, I'm also available to be hired to help with your project, or to build a custom website for you!

                include partials/contact

    .overlay#master-overlay
    .overlay-content#project-overlay



    include project-overlay-template.html
