extends layout

block content
    #header
        h1
            a(href="/") Luke Stebner
        h2 Full Stack Web Developer
            span - Check out some of my work below

    #showcase
        .showcase-column
            ul#showcase-projects
                li(data-project="scribd", style="background-image:url(/images/projects/scribd-cover.jpg);")

                    .description
                        h3 Scribd
                        a(href="http://www.scribd.com/") http://scribd.com

                        h3 Technology
                        ul.technology
                            li Coffeescript
                            li Ruby on Rails
                            li Erector Templates
                            li SCSS
                            li MySQL

                li(data-project="omletapi", style="background-image:url(/images/projects/omletapi-cover.jpg);")

                    .description
                        h3 Omlet API Docs
                        a(href="http://www-new.omlet.me/docs/") http://omlet.me/docs

                        h3 Technology
                        ul.technology
                            li Coffeescript
                            li Jade Templates
                            li LESS
                            li Shell Script

                li(data-project="imgverse", style="background-image:url(/images/projects/imgverse-cover.jpg);").main

                    .description
                        h3 IMGVERSE
                        a(href="http://www.imgverse.com") http://imgverse.com

                        h3 Technology
                        ul.technology
                            li Nodejs
                            li MongoDB
                            li jQuery

                li.archive(data-project="brightguage", style="background-image:url(/images/projects/brightgauge.jpg);")

                    .description
                        h3 BrightGauge App
                        a(href="http://www.brightgauge.com") http://www.brightgauge.com
                        //- p I worked on BrightGauge's internal app as the Senior Front End Engineer and built almost all of the frontend aspects including a fully customizable dashboards solution.

                        h3 Technology
                        ul.technology
                            li jQuery
                            li Vanilla JS
                            li CSS
                            li HTML
                            li Highcharts
                            li Gridster
                            li Backbone
                            li PHP

                li(data-project="arethegiantsplayingtoday", style="background-image:url(/images/projects/arethegiantsplayingtoday-cover.jpg);").main

                    .description
                        h3 Are the Giants playing today?
                        a(href="http://arethegiantsplayingtoday.com") http://arethegiantsplayingtoday.com

                        h3 Technology
                        ul.technology
                            li JavaScript
                            li HTML/CSS

                li(data-project="mbb", style="background-image:url(/images/projects/mbb-cover.jpg);").main

                    .description
                        h3 My Brick Builds
                        a(href="http://mybrickbuilds.com") http://mybrickbuilds.com

                        h3 Technology
                        ul.technology
                            li Node
                            li Mongo
                            li Backbone
                            li Underscore
                            li Express
                            li Jade
                            li jQuery

                li(data-project="10g", style="background-image:url(/images/projects/10g-cover.jpg);").main

                    .description
                        h3 10 Dollar Gaming
                        a(href="http://10dollargaming.com") http://10dollargaming.com

                        h3 Technology
                        ul.technology
                            li Node
                            li Underscore
                            li Express
                            li Jade
                            li jQuery

                li(data-project="lukeandtiffany", style="background-image:url(/images/projects/lukeandtiffany-cover.jpg);").main

                    .description
                        h3 Luke and Tiffany Wedding Website
                        a(href="http://lukeandtiffany.com") http://lukeandtiffany.com

                        h3 Technology
                        ul.technology
                            li Node
                            li Underscore
                            li Express
                            li Jade
                            li jQuery
                            li Design

                li.archive(data-project="selectvids", style="background-image:url(/images/projects/selectvids.jpg);").main

                    .description
                        h3 SelectVids
                        a(href="http://selectvids.com") http://selectvids.com
                        //- p SelectVids was an idea of a friend of mine, but I saw it as a good opportunity to further my skills with Backbone so I did all development and now we use it as a place to save our favorite videos for other people to also discover.

                        h3 Technology
                        ul.technology
                            li Node
                            li Backbone
                            li Mongo
                            li Underscore
                            li Express
                            li Jade
                            li jQuery

                li.archive
                    //- img(src="/images/projects/kanye.jpg").main

                    .description
                        h3 KanyeIpsum
                        a(href="http://kanyeipsum.me") http://kanyeipsum.me
                        //- p KanyeIpsum is a Lorem Ipsum generator based entirely off of Kanye West lyrics. It's offensive and amusing; just like if the rapper himself were in your website while you develop.

                        h3 Technology
                        ul.technology
                            li Node
                            li Express
                            li Jade
                            li jQuery

                li.archive
                    //- img(src="/images/projects/trackagoal.jpg").main

                    .description
                        h3 Track a Goal
                        a(href="http://trackagoal.com") http://trackagoal.com
                        //- p Track a Goal was created in order to help people complete goals they have by giving them an easy place to store goals and view their progress. I was responsible for the backend development and database architecture as well as frontend interactions.

                        h3 Technology
                        ul.technology
                            li PHP
                            li MySql
                            li jQuery

                li.archive
                    //- img(src="/images/projects/bello.jpg").main

                    .description
                        h3 Bello
                        a(href="http://bello.com") http://bello.com
                        //- p Bello is an image uploader for people who want to quickly share an image. It generates a unique URL for you to share your uploaded image. It was one of my first node based projects and I was responsible for the backend development and frontend interactions.

                        h3 Technology
                        ul.technology
                            li Node
                            li Mongo
                            li jQuery
                            li AWS S3

                li(data-project="beansandhops", style="background-image:url(/images/projects/beansandhops-cover.jpg);")

                    .description
                        h3 Beans and Hops
                        a(href="http://www.beansandhops.com/") http://beansandhops.com

                        h3 Technology
                        ul.technology
                            li NodeJS
                            li Jade Templates
                            li LESS
                            li Express
                            li Markdown

                li(data-project="insure", style="background-image:url(/images/projects/insure-cover.jpg);")

                    .description
                        h3 Insure.com
                        a(href="http://www.insure.com/") http://insure.com

                        h3 Technology
                        ul.technology
                            li PHP
                            li MySQL
                            li HTML/CSS
                            li Code Igniter

        .content-column
            .content
                h3 Located in the San Francisco Bay Area
                p I work with a number of technologies including JavaScript (Coffeescript), HTML, CSS (LESS, SCSS), NodeJS, Ruby on Rails, PHP, MongoDB and MySQL. Although during the day I do this at Scribd, I'm also available to be hired to help with your project, or to build a custom website for you!

                .contact
                    ul#social
                        li.linkedin
                            a(href="http://www.linkedin.com/profile/view?id=47073148")
                        li.twitter
                            a(href="https://twitter.com/ahhsumx")
                        li.email
                            a(href="mailto:luke.stebner+contact@gmail.com")

                    //- h3 Hire me for...
                    //- ul
                    //-     li

                    h2 Contact Me

                    p Want to get in touch about work you'd like done? Or maybe just to say hi? Well, this form is the easiest way to do that so be sure to fill out your email so I can respond!

                    form#contact-form(name="contact_form")
                        .alert(style="display:none;")
                            p
                        input(type="text", placeholder="Your Name", name="name")
                        input(type="text", placeholder="Email Address", name="email")
                        textarea(placeholder="Message", name="message", rows=8)
                        input(type="submit", value="Send", name="send")

    .overlay#master-overlay
    .overlay-content#project-overlay



    include project-overlay-template.html
