#showcase{
    position: relative;
    left: 0;
    right: 0;
}

.content-column, .showcase-column{
    vertical-align: top;        
    display: table-cell;
}

.content-column{
    width: 28vw;
    min-width: 300px;

    .content{
        color: #111;
        margin: 30px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;

        h3{
            font-weight: 400;
            color: #333;
        }

        h2{

        }

        p{
            padding: 20px 0;
        }

        .contact{
            form{
                margin-top: 20px;
            }

            input, textarea{
                display: block;
                border: 1px solid #d8d8d8;
                color: #333;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
                max-width: 460px;
                padding: 12px;
                border-radius: 2px;
                margin: 12px 0;

                &:focus{
                    outline: none;
                    border-color: #888;
                }
            }

            textarea{
                resize: none;
            }

            input[type=submit]{
                padding: 12px;
                text-align: center;
                background-color: @off_color;
                color: #fafafa;
                cursor: pointer;
                border: 1px solid @off_color;
                .transition(background-color .4s);

                &:hover{
                    background-color: darken(@focus_color, 10%);
                    color: @off_color;
                }

                &:active{
                    background-color: #d8d8d8;
                }
            }
        }
    }
}

.showcase-column{
    width: 72vw;
    min-width: 300px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    background-color: @off_color;
    background: @off_bg_image repeat;
    padding: 0 30px 30px;
}

#showcase-projects{
    list-style-type: none;

    &::after{
        content: "";
        display: block;
        clear: both;
        height: 0;
    }

    >li{
        position: relative;
        background: no-repeat center center;
        background-size: cover;
        height: 420px;
        width: 96%;
        float: left;
        opacity: 1;
        cursor: pointer;
        transition: opacity .7s, background-color .8s;
        -webkit-transition:opacity .7s, background-color .8s;
        -moz-transition: opacity .7s, background-color .8s;
        margin: 30px 2%;
        box-shadow: 0 0 16px 0px #303030;

        &.archive{
            display: none;
        }

        .topbar, .bottombar{
            opacity: 0;
            .transition(opacity .4s);
            left: 0;
            right: 0;
            padding: 20px;
            background-color: rgba(250, 250, 250, .8);
            color: #404040;
        }

        .topbar{
            position: absolute;
            top: 0;
        }

        .project_link{
            color: inherit;
            text-decoration: none;
            float: right;

            &:hover{
                color: #0a61ca;
            }
        }

        .project_title{
            margin: 0;    
        }

        .bottombar{
            position: absolute;
            bottom: 0;
        }

        .technologies{
            .pill{
                display: inline-block;
                border: 1px solid #404040;
                border-radius: 6px;
                padding: 4px 8px;
                color: #404040;
                margin-right: 12px;
            }
        }

        &:hover{
            .topbar, .bottombar{
                opacity: 1;
            }

            .topbar{
                border-bottom: 1px solid #fafafa;
            }

            .bottombar{
                border-top: 1px solid #fafafa;
            }
        }
    }

    &:hover{
        >li{
            opacity: .65;
        }
    }

    >li:hover{
        opacity: 1;
    }
}

img{
    cursor: pointer;
    height: auto;
    width: 100%;
    max-height: 420px;
}

.other_groups{
    color: #999;

    a{
        font-size: 18px;
        color: #fafafa;
        text-decoration: none;
        margin-left: 12px;

        &:hover{
            color: #999;
        }
    }
}

.skills{
    .skill{
        margin-bottom: 16px;
        
        p{
            margin: 0 0 0 16px;
            padding: 0;
            color: #444;
            font-size: 16px;
        }
    }

}
