body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: #f1f1f1;
  line-height: inherit;
  color: #666;
  background-color: #d9d97b;
}
:focus {
  outline: none !important;
}
::-webkit-input-placeholder {
  color: #d8d8d8;
}
:-moz-placeholder {
  color: #d8d8d8;
}
:-ms-input-placeholder {
  color: #d8d8d8;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.overlay-content {
  display: none;
  overflow-y: auto;
  color: #fff;
  position: fixed;
  max-width: 1100px;
  margin: 0 auto;
  padding: 34px 120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1010;
}
.overlay-content .close {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #d8d8d8;
  text-decoration: none;
  font-size: 24px;
  font-weight: 100;
  font-family: sans-serif;
}
.overlay-content .info-column {
  font-size: 18px;
}
.overlay-content .info-column a {
  float: right;
  color: #fff;
  text-decoration: none;
  margin-top: 18px;
}
.overlay-content .info-column a:hover {
  color: #e0e0e0;
}
.overlay-content .info-column p {
  margin: 24px 0;
  padding-right: 12px;
}
.overlay-content .images-column {
  position: relative;
  margin-bottom: 120px;
}
.overlay-content .images-column .images-container {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.overlay-content .images-column .images-container img {
  border: 1px solid #fff;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 140%;
  right: 0;
  max-width: 100%;
  margin: 0 auto;
  transition: left 0.65s ease;
  -moz-transition: left 0.65s ease;
  -webkit-transition: left 0.65s ease;
  z-index: 1;
}
.overlay-content .images-column .images-container img.viewing {
  left: 0;
  z-index: 2;
}
.overlay-content .images-column .images-container img.viewed {
  left: -100%;
}
.overlay-content .images-column .paddle {
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 30%;
  z-index: 10;
}
.overlay-content .images-column .paddle .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  text-decoration: none;
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
}
.overlay-content .images-column .paddle .handle span {
  position: relative;
  top: 50%;
  margin-top: -70px;
  font-size: 96px;
  display: block;
  text-align: center;
  color: #fafafa;
  font-weight: 100;
}
.overlay-content .images-column .paddle:hover .handle {
  opacity: .8;
}
.overlay-content .images-column .paddle.prev {
  left: 1px;
}
.overlay-content .images-column .paddle.next {
  right: 1px;
}
.overlay-content .images-column .paddle.next .handle {
  right: 0;
}
#header {
  height: 98px;
  background-color: #3a3a3a;
  background: url(/images/stardust.png) repeat;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}
#header h1 {
  color: #3a3a3a;
  font-size: 30px;
  float: left;
  background-color: #d9d97b;
  padding: 30px 45px;
  margin: 0;
}
#header h1 a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
#header h2 {
  color: #f6f6de;
  font-size: 30px;
  text-align: center;
  float: left;
  padding: 30px;
  font-weight: 100;
  margin: 0;
}
#header h2 a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
#showcase {
  position: relative;
  left: 0;
  right: 0;
}
#showcase .content-column {
  float: left;
  width: 28%;
  min-width: 255px;
}
#showcase .content-column .content {
  color: #111;
  margin: 30px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
#showcase .content-column .content h3 {
  font-weight: 400;
  color: #333;
}
#showcase .content-column .content p {
  padding: 20px 0;
}
#showcase .content-column .content .contact form {
  margin-top: 20px;
}
#showcase .content-column .content .contact input,
#showcase .content-column .content .contact textarea {
  display: block;
  border: 1px solid #d8d8d8;
  color: #333;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  max-width: 460px;
  padding: 12px;
  border-radius: 2px;
  margin: 12px 0;
}
#showcase .content-column .content .contact input:focus,
#showcase .content-column .content .contact textarea:focus {
  outline: none;
  border-color: #888;
}
#showcase .content-column .content .contact textarea {
  resize: none;
}
#showcase .content-column .content .contact input[type=submit] {
  padding: 12px;
  text-align: center;
  background-color: #3a3a3a;
  color: #fafafa;
  cursor: pointer;
  border: 1px solid #3a3a3a;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}
#showcase .content-column .content .contact input[type=submit]:hover {
  background-color: #cece53;
  color: #3a3a3a;
}
#showcase .content-column .content .contact input[type=submit]:active {
  background-color: #d8d8d8;
}
#showcase .showcase-column {
  width: 72%;
  float: right;
}
#showcase .showcase-column > ul {
  margin: 0;
  list-style-type: none;
  position: relative;
  background-color: #3a3a3a;
  background: url(/images/stardust.png) repeat;
  padding: 0 30px 30px;
}
#showcase .showcase-column > ul::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
#showcase .showcase-column > ul > li {
  position: relative;
  background: no-repeat center center;
  background-size: cover;
  height: 420px;
  width: 46%;
  float: left;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.7s, background-color 0.8s;
  -webkit-transition: opacity 0.7s, background-color 0.8s;
  -moz-transition: opacity 0.7s, background-color 0.8s;
  margin: 30px 2%;
  box-shadow: 0 0 16px 0px #303030;
}
#showcase .showcase-column > ul > li.archive {
  display: none;
}
#showcase .showcase-column > ul > li .description {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  min-width: 180px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fafafa;
}
#showcase .showcase-column > ul > li .description a {
  color: inherit;
  text-decoration: none;
}
#showcase .showcase-column > ul > li .description ul {
  list-style-type: none;
}
#showcase .showcase-column > ul > li .description h3:not(:first-child) {
  margin-top: 16px;
}
#showcase .showcase-column > ul > li:hover {
  border-radius: 3px;
  box-shadow: 0 0 8px -1px #d8d8d8;
}
#showcase .showcase-column > ul > li:hover .description {
  display: block;
  border-radius: 3px 0 0 3px;
}
#showcase .showcase-column > ul:hover > li {
  opacity: .65;
}
#showcase .showcase-column > ul > li:hover {
  opacity: 1;
}
#showcase img {
  cursor: pointer;
  height: auto;
  width: 100%;
  max-height: 420px;
}
#showcase .description {
  display: none;
}
#work {
  margin-top: 20px;
}
#work h2 {
  color: #a14646;
  font-weight: 800;
  font-size: 36px;
}
#work .description {
  margin-top: 80px;
  display: none;
}
#work .description h3 {
  font-size: 24px;
  font-weight: 400;
  display: block;
  margin-top: 12px;
}
#work .description a {
  display: block;
  text-decoration: none;
}
#work .description p {
  font-weight: 200;
  margin: 0;
}
#work .description ul.technology li {
  display: block;
}
#footer {
  background-color: #d8d8d8;
  padding: 40px;
  margin-top: 80px;
}
#footer h2 {
  color: #a14646;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 30px;
}
#footer form .alert {
  border: 1px solid #888;
  background-color: #ccc;
}
#footer form .alert p {
  margin: 6px 8px;
  color: #333;
}
#footer form .alert.alert-error {
  border-color: #f00;
  background-color: #f77;
}
#footer form .alert.alert-error p {
  color: #f00;
}
#footer form .alert.alert-success {
  border-color: #46a173;
  background-color: #a7d9c0;
}
#footer form .alert.alert-success p {
  color: #46a173;
}
#footer form input[type="text"],
#footer form textarea {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: block;
  width: 88%;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
}
#footer form textarea {
  height: 200px;
}
#footer form input[type="submit"] {
  background-color: #467ca1;
  width: 160px;
  padding: 16px;
  text-align: center;
  float: right;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#footer ul.linklist {
  list-style-type: none;
}
#footer ul.linklist li {
  margin: 8px 0;
}
#footer ul.linklist li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #467ca1;
}
#footer ul.starlist {
  list-style-type: none;
  clear: both;
}
#footer ul.starlist li {
  margin: 8px 4px;
  background-image: url(/images/stars.png);
  background-repeat: none;
  background-position: -25px 0;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
}
#footer ul.starlist li.on {
  background-position: 0 0;
}
#footer ul.starlist li.label {
  width: 160px;
  background-image: none;
  font-size: 20px;
  color: #444;
}
#social {
  link-style-type: none;
  float: right;
  padding: 0;
  margin: 0;
}
#social li {
  padding: 0;
  margin: 5px;
  background-image: url(/images/social-icons.png);
  background-repeat: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: .5;
  transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
}
#social li.linkedin {
  background-position: 0 0;
}
#social li.twitter {
  background-position: -32px 0;
}
#social li.email {
  background-position: -64px 0;
}
#social li:hover {
  opacity: .9;
}
#social li a {
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 1770px) {
  #showcase .showcase-column > ul > li {
    height: 360px;
  }
}
@media (max-width: 1399px) {
  #showcase .showcase-column > ul > li {
    width: 94%;
  }
}
@media (max-width: 1000px) {
  #header h2 span {
    display: none;
  }
}
@media (max-width: 990px) {
  #showcase .showcase-column {
    width: 100%;
  }
  #showcase .showcase-column ul {
    padding-right: 0;
    padding-left: 8px;
  }
  #showcase .content-column {
    width: 60%;
  }
}
@media (max-width: 600px) {
  #header h2 {
    font-size: 22px;
  }
}
@media (max-width: 520px) {
  #header h2 {
    display: none;
  }
  #header h1 {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
