body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: #f1f1f1;
  line-height: inherit;
}
::-webkit-input-placeholder {
  color: #d8d8d8;
}
:-moz-placeholder {
  color: #d8d8d8;
}
:-ms-input-placeholder {
  color: #d8d8d8;
}
#header {
  height: 394px;
  background-color: #000;
  padding-top: 40px;
  background-image: url(/images/header-background-2000.jpg);
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
}
#header h1 {
  margin-top: 0;
  color: #fff;
  font-size: 36px;
  text-align: center;
}
#header h1 a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
#header h2 {
  color: #fff;
  font-size: 60px;
  text-align: center;
}
#header h2 a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
#header ul.showcase-skills {
  margin: 0 10%;
  width: 80%;
}
#header ul.showcase-skills li {
  width: 23%;
  display: block;
  float: left;
  text-align: center;
  font-size: 56px;
  padding: 1%;
}
#header ul.showcase-skills li img {
  width: 100%;
}
#header-bottom-cap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header-bottom-cap ul li {
  padding: 0;
  display: block;
  position: relative;
  float: left;
  width: 25%;
  height: 5px;
}
#header-bottom-cap ul li:first-child,
#header-bottom-cap ul li:last-child {
  background-color: #ff6600;
}
#header-bottom-cap ul li.two {
  background-color: #a14646;
}
#header-bottom-cap ul li.three {
  background-color: #467ca1;
}
#work {
  margin-top: 20px;
}
#work h2 {
  color: #f00;
  font-weight: 800;
  font-size: 36px;
}
#work .example {
  margin-top: 80px;
}
#work .example img {
  border-radius: 16px;
  width: 100%;
}
#work .description {
  margin-top: 80px;
}
#work .description h3 {
  font-size: 24px;
  font-weight: 400;
  display: block;
  margin-top: 12px;
}
#work .description a {
  display: block;
  text-decoration: none;
}
#work .description p {
  font-weight: 200;
  margin: 0;
}
#work .description ul.technology li {
  display: block;
}
#work .row.first .example,
#work .row.first .description {
  margin-top: 20px;
}
#footer {
  background-color: #d8d8d8;
  padding: 40px;
  margin-top: 80px;
}
#footer h2 {
  color: #f00;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 30px;
}
#footer form .alert {
  border: 1px solid #888;
  background-color: #ccc;
}
#footer form .alert p {
  margin: 6px 8px;
  color: #333;
}
#footer form .alert.alert-error {
  border-color: #f00;
  background-color: #f77;
}
#footer form .alert.alert-error p {
  color: #f00;
}
#footer form .alert.alert-success {
  border-color: #46a173;
  background-color: #a7d9c0;
}
#footer form .alert.alert-success p {
  color: #46a173;
}
#footer form input[type="text"],
#footer form textarea {
  border-radius: 12px;
  display: block;
  width: 88%;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
}
#footer form textarea {
  height: 200px;
}
#footer form input[type="submit"] {
  background-color: #467ca1;
  width: 160px;
  padding: 16px;
  text-align: center;
  float: right;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
}
#footer ul.linklist {
  list-style-type: none;
}
#footer ul.linklist li {
  margin: 8px 0;
}
#footer ul.linklist li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #467ca1;
}
#footer ul.starlist {
  list-style-type: none;
  clear: both;
}
#footer ul.starlist li {
  margin: 8px 4px;
  background-image: url(/images/stars.png);
  background-repeat: none;
  background-position: -25px 0;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
}
#footer ul.starlist li.on {
  background-position: 0 0;
}
#footer ul.starlist li.label {
  width: 120px;
  background-image: none;
  font-size: 20px;
  color: #444;
}
#social {
  link-style-type: none;
  padding: 0;
  margin: 0;
}
#social li {
  padding: 0;
  margin: 20px 5px;
  background-image: url(/images/social-icons.png);
  background-repeat: 0;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  opacity: .5;
  transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -webkit-transition: opacity 0.6s linear;
}
#social li.linkedin {
  background-position: 0 0;
}
#social li.twitter {
  background-position: -32px 0;
}
#social li.email {
  background-position: -64px 0;
}
#social li:hover {
  opacity: .9;
}
#social li a {
  display: block;
  width: 100%;
  height: 100%;
}
